/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/08/2016, 12:11:07
    Author     : CARLOS
*/
#lista {
    background:#b977d1; 
    margin:3px; 
    width:150%; 
    height:60px; 
    float:right; 
    display: none;
    
    
}

body {
    overflow-x: hidden;
}
#slideout {
    background: #c4e3f3;
    position: absolute;
    width: 540px;
    //height: 80px;
    top: 45%;
    right:-517px;
    padding-left: 20px
}
    
#clickme {
    position: absolute;
    top: 0; left: 0;
    height: 20px;
    width: 20px;
    background: #ff0000;
}

#slidecontent {
    float:left;
}
.titulo{
    //text-align: center;
    //vertical-align: central;
    width: 100%;
}

.exames{
    font-size: 11px;
    margin-left: 35px;
}